<div id="navigation" class="flex flex-row gap-4 justify-between bg-neutral-100 px-4 py-3">
  <div class="flex flex-row gap-2 items-center">
    <img src="../../../assets/img/logo.jpg" class="h-8 w-8 rounded-full" />
    <p class="font-bold text-lg">Futuresoft Technologies</p>
  </div>

  <div class="flex flex-row gap-1 items-center">

    <div *ngFor="let navItem of navItems">
      <div class="flex flex-row-reverse gap-1 items-center px-3 py-1 hover:bg-blue-200 hover:cursor-pointer">
        <a [routerLink]="navItem.route">{{navItem.label}}</a>
        <img [src]="navItem.icon" class="h-4 w-4" />
      </div>
    </div>

    <button class="bg-blue-400 text-white px-4 py-1 rounded-md">Sign Out</button>
  </div>

</div>
